<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MousCor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MousCor.Properties.Settings>
            <setting name="keyss" serializeAs="String">
                <value>Divide</value>
            </setting>
            <setting name="charkeyss" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stringhk" serializeAs="String">
                <value>/</value>
            </setting>
        </MousCor.Properties.Settings>
    </userSettings>
</configuration>